<div>
	<header><h1>Miracles of Fungi</h1></header>
	<div>

		<input type="radio" name="Edibles" ng-model="eatOrNot" value="true" ng-change="tellVal()"> Edibles
		<input type="radio" name="Death" ng-model="eatOrNot" value="false" ng-change="tellVal()"> Death
		<input type="radio" name="showAll" ng-model="eatOrNot" ng-change="tellVal()"> Show All <!--Why does this stay selected once clicked?--> Mushrooms
		<hr><input type="text" name="search" ng-model="query" placeholder="search for 'shrooms">
	</div>

	<section>
		<div ng-repeat="item in mushrooms | filter: {edible: eatOrNot} | filter: query"  >
			<hr>
			<h3>{{item.name}}</h3>
			<p>{{item.description}}</p>
			<!-- <p>Should I eat this?</p> --><!--How do I add an 'if' statement here?-->

		</div>

	</section>

</div>